* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fafafa;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-main,
.login-box {
  width: 350px;
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  font-family: 'Segoe Script', cursive;
  font-size: 36px;
  margin-bottom: 15px;
}

.subtitle {
  color: #8e8e8e;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.facebook-btn {
  width: 100%;
  background: #385185;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 15px;
}

.signup-btn {
  width: 100%;
  background:#385185 ;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
}

.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #dbdbdb;
}

.divider p {
  margin: 0 10px;
  font-size: 12px;
  color: #8e8e8e;
  font-weight: bold;
}

.terms {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 15px;
}