body {
  background-color: black;
}
.format {
  color: white;
  display: flex;
}
.left {
  width: 10%;
}
.middle {
  width: 55%;
}
.right {
  width: 35%;
}

.user{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info span{
  display: block;
  font-size: 12px;
  color: gray;
}

.switch{
  margin-left: auto;
  font-size: 12px;
  color: blue;
  text-decoration: none;
}

.suggestions-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  color: gray;
}

.suggestion{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.suggestion img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.info span{
  font-size: 12px;
  color: gray;
}

.follow{
  margin-left: auto;
  font-size: 12px;
  font-weight: bold;
  color: blue;
  text-decoration: none;
}

.suggestion-footer{
  margin-top: 30px;
  font-size: 11px;
  color: silver;
}

.footer-links{
  line-height: 1.6;
}

.footer-links a{
  color: silver;
  text-decoration: none;
}

.copyright{
  margin-top: 15px;
  color: silver;
}


