body {
  background-color: black;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}
.format {
  color: white;
  display: flex;
}
.left {
  width: 10%;
}
.middle {
  width: 55%;
}
.right {
  width: 35%;
  
}
